body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}
#projectsDiv {
    border: 2px solid black;
    padding: 10px;
    /* width: 300px;
    height: 200px; */
    /* display: flex; */
}
.project {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    /* width: 80px; */
    /* height: 80px; */
    text-align: center;
}