:root {
    --bg-color: #1E1B18;
    --text-color: #F9F7F2;
    --accent-color: #2D7082;
    --secondary-color: #E6A828;
    --card-color: #4F5D65;
}
body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: verdana, sans-serif;
}
h1, h2 {
    font-family: 'Nova Cut', cursive;
    text-align: center;
    color: var(--secondary-color);
}
.container {
    display: flex;
    justify-content: space-around;
}
#projectsDiv {
    border: 2px solid black;
    padding: 10px;
    width:80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: var(--card-color);
    color: var(--text-color);
}
.project {
    border: 1px solid --accent-color;
    margin: 10px;
    max-width: 250px;
    height: 180px;
    text-align: center;
    
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--text-color);
    
}
.project a {
    color: var(--text-color);
    background-color: var(--accent-color);

}
.project-title {
    border-radius: 10px 10px 0 0;
    background-color: var(--secondary-color);
}