:root {
    --bg-color: #1E1B18;
    --text-color: #F9F7F2;
    --accent-color: #2D7082;
    --secondary-color: #E6A828;
    --card-color: #4F5D65;
}
body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: verdana, sans-serif;
}
h1, h2 {
    font-family: 'Nova Cut', cursive;
    text-align: center;
    color: var(--secondary-color);
}
.container {
    display: flex;
    justify-content: space-around;
}
#projectsDiv {
    /* border: 2px solid black; */
    padding: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    /* background-color: var(--card-color); */
    color: var(--text-color);
}
.project {
    border: 1px solid --accent-color;
    margin: 10px;
    max-width: 250px;
    height: 180px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--text-color);
    
    
}
.project-btn {
    color: var(--text-color);
    background-color: var(--accent-color);
    display: inline-block;
    margin-top: auto;
    padding: 8px 12px;
    background: var(--secondary-color);
    color: var(--bg-color);
    border-radius: 6px;
    font-weight: 600;
    align-self: center;
     margin-top: auto; /* pushes this div to the bottom */
    align-self: center;

}
.project a {
    color: var(--text-color);
    background-color: var(--accent-color);
    background: var(--secondary-color);
    color: var(--bg-color);
    text-decoration: none;

}
.project-title {
    border-radius: 10px 10px 0 0;
    background-color: var(--secondary-color);
    height: 40px;
    font-size:large
    
}
.project-description {
    padding: 2px;
    font-size: small;
    display: flex;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto; /* take remaining space so button can be pushed down */

}