body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}
#projectsDiv {
    border: 2px solid black;
    padding: 10px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.project {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    max-width: 180px;
    height: 180px;
    text-align: center;
    margin: 10px;
}