/* fonts */
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}
.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* types */
body {
    margin: 0;
    width: 720px;
      font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#1D3557

}
h1 {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-size: 2rem;
    background-color: #1D3557;
    border-radius: 10px;
    color: white;
    padding: 3px 12px 5px 12px;
    width:fit-content;
    margin: 0 auto;
}

/* classes & IDs by section*/
.hero {
    background-image: url(./images/skyline.png);
    background-size: cover;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-style: normal;
    color: White;
    width: 720px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero p {
    font-size: 1.125rem;
    text-align: center;
    background-color: #457B9D;
    padding: 5px; 28px; 8px; 28px;
    width: 412px;
    margin: 0 auto;
    border-radius: 10px;
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 48px 20px;
    width: 720px;
    height: 50%;
    margin: 0 auto;
    background: #f0f8ef;

}
.activities img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.activities ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 42px;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}
.activities li {
    font-size: 1.125rem;
    width: 220px;
    color: #1D3557;
    text-align: center;
}
.guide {
    text-align: center;
    height: 394px;
}

#guide-box {
    display: flex;
    width:fit-content;
    background-color: #A8DADC;
    margin: 50px auto;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 0  6px 0 black
}
.guide p {
    font-size: 1.125rem;
    width: 189px;
    margin: 0 auto;
    padding: 10px;
}
.guide h2 {
    margin-bottom: 0;
}
#guide-img {
    width: 180px;
    height: 248px;
    border-radius: 10%;
    margin-top: 10px;
    background-image: url(./images/justin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
