/* GLOBALS */
body {
    margin: 0;
    max-width: 600px;
} 
header {
    /* width: 600px; */
    height: 167px;
    padding: 46px;
}
ul {
    list-style-type: none;
    padding: 0;
}
/* header section*/


#container {
    max-width: 508px;
    padding : 46px 67px;
}
/* menu section */
#menu-section {
    align-items: center;
}
.menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    width: 508px;
    height: 140px;
}

.menu-item-emoji {
    font-size: 24px;
}
.menu-item-details {
    margin-left: 10px;
}
.menu-item.price {
    font-weight: bold;
}
/* order section */
#order-section {
    border-top: 1px solid #ccc;
    font-size: 1.75rem;
    
}
.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 508px
}

.order-total {
    display: flex;
    justify-content: space-between;
}
#complete-order-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%
}

/* payment modal */

#payment-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    /* right: 0;
    left: 0; */
    margin: auto;
    height: 500px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: white;
    color: whitesmoke;
}
#payment-modal.display {
    display: block;
}
