/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-image: url(./images/table.jpg);   
}

h1 {
    color: goldenrod;
}

#message-el {
    
}
